:root {
    --main-color-black: #212121;
    --sec-color: #757575;
    --act-color: #2196f3;
    --hover-color-button: #188ce8;
    --primary-backgraund-color: #ffffff;
    --back-craund-color: #2f303a;
    --back-graund-second: #f5f4fa;
    --backgraund-color: #f5f4fa;
    --main-color-wit: #fff;
    --background-portfolio: #e5e5e5;
    --footer-adress: rgba(255, 255, 255, 0.6);
    --bg-team: #f5f4fa;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.03em;
    line-height: 1.46;
}
html {
  box-sizing: border-box;
}
.section {

    padding: 94px 0;
}
.container {
    padding: 0 15px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.hidden-item {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding: 0;
  }
nav,
.site-nav,
.contacts,
.link,
header .container {
    display: flex;
    justify-content: space-between;
}
header {
    border-bottom: 1px solid #ececec;
}

footer {
    background-color: var(--back-craund-color);
}
address,
.footer-list
footer .container {
    display: flex;
    flex-direction: column;
}
/*header*/
header .logo {
    margin-right: 93px;
    display: flex;
    align-items: center;  
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;

    color: var(--act-color);
}
.logo-color-black {
    color: var(--main-color-black);
    display: inline-block;
    margin-right: 5px;
}

.site-nav li a,
.links {
    color: var(--main-color-black);
    font-family: 'roboto';
    margin-right: 50px;
    display: inline-block;
    align-items: center;
    padding: 30.5px 0;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    cursor: pointer;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links {
  display: flex;
}

.contacts li a:hover,
.contacts li a:focus
{
    color: var(--act-color);
    fill: var(--act-color);
}
.site-nav li:last-child {
    margin-right: 0px;
}
.site-nav .links:hover,
.site-nav .links:focus,
.site-nav .links:hover::after {
  color: var(--act-color);
  opacity: 1;
}
.site-nav .links::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -1px;
  transform: translateX(-100%);
  border-radius: 2px;
  background-color: var(--act-color);
  opacity: 0;
}
.contacts li a {
    margin: 0 0 0 50px;
    color: var(--sec-color);
}
.svg {
    margin-right: 10px;
}

/*section hero  */

.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
    url(../images/general-photo.jpg);
    text-align: center;
    padding: 200px 0;
 
 }
.hero-title {
    font-size: 44px;
    text-transform: uppercase;
    color: var(--main-color-wit);
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero-button {
    padding: 10px 32px;
    background: var(--act-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--main-color-wit);
    margin: 0 auto;
    display: block;
  }
  .hero-button:focus,
  .hero-button:hover {
    background: #188ce8;
  }
/*Main section 1  */

.hide {
    visibility: hidden;
    margin: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
}
    

.section-subtitle {
    text-align: center;
}
.section-text {
    color: var(--sec-color);
    font-family: Roboto;
    font-size: 14px;
    line-height: calc(24 / 14);
    margin-top: 10px;
}
.section-titles {
    color: var(--main-cRolor);
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}
.future-list {
    margin: 0 auto;
    display: flex;
}
.future-list .item + .item {
    margin-left: 30px;
}
.future-list .item {
    width: 270px;
}
.btn-item {
    width: 270px;
    height: 120px;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--bg-team);
  }
/*doing  */
.section-title {
    color: var(--main-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    margin-bottom: 50px;
}

.doing {
    background: var(--main-color);
    text-align: center;
    padding-top: 0px;
    padding-bottom: 94px;
}
.doing .item + .item {
    margin-left: 30px;
}

.doing-list {
    display: flex;
}
.testing {
    position: relative;
    text-align: center;

}
.item-doing {
  position: absolute;
  font-family: 'roboto';
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-wit);
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}

/*section out team  */
.out-team {
    background: var(--back-graund-second);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.out-team-list .item + .item {
    margin-left: 30px;
}
.out-team-list .item {
    background-color: white;
    border-radius: 0px 0px 4px 4px ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
}
.out-team-list {
    display: flex;

}
.out-team .title {
    font-weight: 500px;
    font-size: 36px;
    line-height: calc(19 / 16);
    margin-bottom: 50px;
    text-align: center;
}
.out-team .name {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.out-team .profession {
    color: var(--sec-color);
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .social-link {
    margin-right: 10px;
  }
  .social-link:last-child {
    margin-right: 0;
  }
  .btn-soc {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #afb1b8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 16px;
  }
  .soc-icon:focus,
  .soc-icon:hover,
  .btn-soc:focus,
  .btn-soc:hover {
     background: var(--act-color);
     fill: var(--main-color-wit);
 }
 

/*постоянные клинты*/
 .clients {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .clients > .client {
    margin-right: 30px;
    text-align: center;
  }
  .clients .client:last-child {
    margin: 0;
  }
  .client {
    flex-basis: calc(100% / 6)-30px;
    width: 170px;
    height: 92px;
  }
  .btn-client {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    background: var(--for-black-color);
    fill: #afb1b8;
  }
  .btn-client:focus,
  .btn-client:hover {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
/*footer*/
.footer {
    background: var(--back-craund-color);
    padding: 60px 0px;
  }
  .footer-contact {
    color: var(--main-color-wit);
    font-size: 14px;
    line-height: calc(27 / 14);
    margin-top: 20px;
  }
  .address {
      font-style: normal;
  }
  .logo-footer {
    color: var(--main-color-wit);
  }
  .footer-contact:hover,
  .footer-contact:focus,
  .footer-contact .mailto:hover,
  .footer-contact .mailto:focus,
  .footer-contact .tel:hover,
  .footer-contact .tel:focus {
    color: var(--act-color);
  }
  .footer-contact .mailto,
  .footer-contact .tel {
    color: rgba(255, 255, 255, 0.6);
  }
  .end {
    display: flex;
    justify-content: flex-start;
  }
  .soc-title {
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 20px;
  }
  .footer-social {
    width: 206px;
    height: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-transform: uppercase;
    color: var(--main-color-wit);
    margin-left: 70px;
  }
  .connect {
    background: rgba(255, 255, 255, 0.1);
    fill: #fff;
  
   }

   .form-footer {
    padding-top: 16px;
    margin-left: 93px;
    position: relative;
  }
  .footer-input {
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0, 6);
    background: rgba(47, 48, 58, 1);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .footer-input:hover,
  .footer-input:focus {
    outline: 1px solid var(--act-color);
    color: #e5e5e5;
    transition-property: outline, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* background: var(--accent-color); */
  }
  
  .title-form-footer {
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }
  .form-btn-footer {
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 62px;
    cursor: pointer;
    margin-left: 12px;
  }
  .icon-subscribe {
    position: absolute;
    right: 20px;
    bottom: 30px;
    fill: #fff;
    cursor: pointer;
  }
  .cocntact-cond {
    color: var(--act-color);
    text-decoration: underline;
  }
/*portfolio-button*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 22px;
  border-style: none;
  border-radius: 4px;
  color: var(--main-color-black);
  background-color: var(--back-graund-second);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button-item:not(:first-child) {
  margin-left: 8px;
}
.btn:hover,
.btn:focus {
  color: var(--primary-backgraund-color);
  background-color: var(--act-color);
}
  /*portfolio-general*/
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .portfolio-image:hover,
  .portfolio-image:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-image {
    margin: 15px;
  }
  .portfolio-title {
    color: var(--main-color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
  }
  .portfolio-text {
    margin-top: 4px;
    color: var(--sec-color);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
  }
  .portfolio-name {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom:  1px solid #eeeeee;
    border-right:  1px solid #eeeeee;
  }
  .wrapper {
    position: relative;
    overflow: hidden;
}
.over {
    position: absolute;
    padding: 63px 24px;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background-color: var(--hover-color-button);
    font-weight: normal;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: var(--primary-backgraund-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.8;
}
.portfolio-image {
    position: relative;
}
.test:hover .over,
.test:focus .over {
    transform: translateY(0);
}
  /*.portfolio-name::before {
    position: absolute;
    content: 'Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.';
    width: 370px;
    height: 294px;
    bottom: -100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
  }
  .portfolio-name:hover::before {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-100%);
  }
   /* modalca*/
   .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
  
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    padding: 0%;
  
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .close-modal-button {
    position: absolute;
    top: 9px;
    right: 9px;
    bottom: 10px;
    left: 10px;
    transition: fill 250ms var(--timing-function);
  }
  .close-modal:focus .close-modal-button,
  .close-modal:hover .close-modal-button {
    fill: var(--act-color)
  }
  
  .form--modal {
    width: 448px;
    min-height: 581px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  legend {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 12px;
  }
  
  .form--modal-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--sec-color);
  }
  
  .check--modal-box {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--sec-color);
  }
  
  .form--modal-box input {
    padding: 12px;
    padding-left: 42px;
    font-size: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  
  .form--modal-box:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  
  .form-name {
    margin-top: 4px;
  }
  
  .form--modal-box .form-name {
    font-size: 14px;
    line-height: 1.71;
  }
  
  .form-input {
    width: 100%;
    height: 40px;
    margin: 0;
    font: inherit;
    padding: 12px 20px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    position: relative;
    transition: border 250ms var(--timing-function);
  }
  
  .form-input:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  
  .form-input:focus + .form--icon {
    fill: #2196f3;
    transition: fill 250ms var(--timing-function);
  }
  
  .form--icon {
    position: absolute;
    top: 50%;
    left: 15px;
  }
  
  .form--icon-check {
    fill: #fff;
  }
  
  .form-texrarea {
    resize: none;
    padding: 12px 16px;
    font: inherit;
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 4px;
    min-height: 120px;
    margin-top: 4px;
    transition: border 250ms var(--timing-function);
  }
  
  .form-texrarea:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  
  .policy-box {
    font-size: 14px;
    color: #757575;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top: 12px;
  }
  
  .policy-box-name {
    margin-left: 25px;
  }
  
  .policy-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    z-index: 100;
  }
  
  .policy-box-check {
    position: absolute;
    display: block;
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 10px;
    top: 12px;
    left: 12px;
    transition: background-color 250ms var(--timing-function);
  }
  
  .policy-checkbox:checked + .policy-box-check {
    background-color: #2196f3;
  
    border: none;
  }
  
  .policy-box a {
    color: #2196f3;
    text-decoration: underline;
  }
  
  .form-submit-btn {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
  }
  
  .form-submit-btn:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  