 .clients {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .clients > .client {
    margin-right: 30px;
    text-align: center;
  }
  .clients .client:last-child {
    margin: 0;
  }
  .client {
    flex-basis: calc(100% / 6)-30px;
    width: 170px;
    height: 92px;
  }
  .btn-client {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    @include fontsecond (170px, 92px, 0, 4px, $maincolorwit, #afb1b8)
  }
  .btn-client:focus,
  .btn-client:hover {
    fill: $actcolor;
    border: 1px solid $actcolor;
  }