<<<<<<< HEAD
.clients {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
.clients > .client {
  margin-right: 30px;
  text-align: center;
}
.clients .client:last-child {
  margin: 0;
}
.client {
  flex-basis: calc(100% / 6)-30px;
  width: 170px;
  height: 92px;
<<<<<<< Updated upstream
=======
  &__customer {
    border: 1px solid #afb1b8;
    @include customer (170px, 92px, center, 0, 4px, #FFFFFF, #afb1b8);
    @extend %flexbox;
=======
 .clients {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .clients > .client {
    margin-right: 30px;
    text-align: center;
  }
  .clients .client:last-child {
    margin: 0;
  }
  .client {
    flex-basis: calc(100% / 6)-30px;
    width: 170px;
    height: 92px;
  }
  .btn-client {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
<<<<<<< HEAD
    @include fontsecond (170px, 92px, 0, 4px, $maincolorwit, #afb1b8)
=======
    background: $Blackgraund;
    fill: #afb1b8;
>>>>>>> 9ae18f1284132e2341096c96ab8b54771a4fb22f
<<<<<<< HEAD
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
  }
>>>>>>> Stashed changes
}
.btn-client {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background: #FFFFFF;
  fill: #afb1b8;
}
.btn-client:focus,
.btn-client:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}