.footer {
<<<<<<< HEAD
  background: $backcraundcolor;
  padding: 60px 0px;
<<<<<<< Updated upstream
}
.footer-contact {
  @include footer_1 ( $maincolorwit, 14px, calc(27 / 14), 20px)
=======
  background: $back_craund_color;
  padding: 60px 0px;
}
.footer-contact {
  color: $main_color_wit;
  font-size: 14px;
  line-height: calc(27 / 14);
  margin-top: 20px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
  &-contact {
    color: $maincolorwit;
    font-size: 14px;
    line-height: calc(27 / 14);
    margin-top: 20px;
  }
=======
}
.footer-contact {
  @include footer_1 ( $maincolorwit, 14px, calc(27 / 14), 20px)
=======
  background: $back_craund_color;
  padding: 60px 0px;
}
.footer-contact {
  color: $main_color_wit;
  font-size: 14px;
  line-height: calc(27 / 14);
  margin-top: 20px;
>>>>>>> 9ae18f1284132e2341096c96ab8b54771a4fb22f
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
>>>>>>> Stashed changes
=======
>>>>>>> 9ae18f1284132e2341096c96ab8b54771a4fb22f
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
}
.address {
    font-style: normal;
}
.logo-footer {
<<<<<<< HEAD
<<<<<<< HEAD
  color:  $maincolorwit;
=======
  color: $main_color_wit;
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
  color: $main_color_wit;
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
}
.footer-contact:hover,
.footer-contact:focus,
.footer-contact .mailto:hover,
.footer-contact .mailto:focus,
.footer-contact .tel:hover,
.footer-contact .tel:focus {
  color: $act_color;
}
.footer-contact .mailto,
.footer-contact .tel {
  color: rgba(255, 255, 255, 0.6);
}
.end {
  display: flex;
  justify-content: flex-start;
}
.soc-title {
  @include footer_title (14px, 1.17, 20px)
}
.footer-social {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
<<<<<<< HEAD
<<<<<<< HEAD
  @include footer_soc ($maincolorwit, 206px,  80px, 15px,  70px)
=======
<<<<<<< HEAD
=======
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
  @include footer_soc ($maincolorwit, 206px, 80px, 15px,70px)
=======
  color: $main_color_wit;
  margin-left: 70px;
>>>>>>> 9ae18f1284132e2341096c96ab8b54771a4fb22f
<<<<<<< HEAD
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
}
.connect {
  background: rgba(255, 255, 255, 0.1);
  fill: #fff;

 }
 .form-footer {
  position: relative;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-top: 16px;
  margin-left: 93px;
=======
  @include ptml (16px, 93px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
  @include ptml (16px, 93px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include futer_input (rgba(255, 255, 255, 0.6), 358px, 4px, 16px, calc(20 / 16), rgba(47, 48, 58, 1),16px,15px, 15px )
}

.footer-input:hover,
.footer-input:focus {
<<<<<<< HEAD
<<<<<<< HEAD
  outline: 1px solid  $actcolor;
=======
  outline: 1px solid $act-color;
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
  outline: 1px solid $act-color;
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
  color: #e5e5e5;
  transition-property: outline, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-form-footer {
  text-transform: uppercase;
<<<<<<< HEAD
<<<<<<< HEAD
  @include title_form_footer (#fff, 14px,  1.17, 30px) 
=======
  @include title_form_footer (#fff, 14px, 1.17, 15px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
  @include title_form_footer (#fff, 14px, 1.17, 15px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
}
.form-btn-footer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
<<<<<<< HEAD
<<<<<<< Updated upstream
  @include  form_btn_footer (#fff, bold, 16px, calc(30 / 16), 0.06em,  $actcolor,  4px, 29px, 10px, 10px, 62px, 12px)
=======
<<<<<<< HEAD
  @include  form_btn_footer (#fff,  bold, 16px, calc(30 / 16), 0.06em, $actcolor, 4px,  29px, 10px, 10px, 62px, 12px)

=======
  @include  form_btn_footer (#fff, bold, 16px, calc(30 / 16), 0.06em,  $actcolor,  4px, 29px, 10px, 10px, 62px, 12px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
>>>>>>> Stashed changes
=======
  @include  form_btn_footer (#fff, bold, 16px, calc(30 / 16), 0.06em,  $actcolor,  4px, 29px, 10px, 10px, 62px, 12px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
}
.icon-subscribe {
  position: absolute;
  right: 20px;
  bottom: 30px;
  fill: #fff;
  cursor: pointer;
}
.cocntact-cond {
<<<<<<< HEAD
<<<<<<< HEAD
  color:  $actcolor;
=======
  color: $act-color;
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
=======
  color: $act-color;
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
  text-decoration: underline;
}