.backdrop {
    position: fixed;
    visibility: visible;
    transition: opacity 250ms $timingfunction, visibility 250ms $timingfunction;
    @include  backdrop (100%, 100%,  0px,  0px, rgba(0, 0, 0, 0.2))
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  .modal {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timingfunction;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    @include modal (50%, 50%, 528px, 581px, 4px,  $maincolorwit)
  }
  
  .close-modal {
    position: absolute;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
    border-radius: 50%;
  }
  
<<<<<<< Updated upstream
  .close-modal-button {
    position: absolute;
    top: 9px;
    right: 9px;
    bottom: 10px;
    left: 10px;
    transition: fill 250ms $timingfunction;
  }
=======
=======
    @include close-modal (8px,8px,0%, 30px, 30px,50%,$maincolorwit)
  }
  
  .close-modal-button {
    position: absolute;
    transition: fill 250ms $timingfunction;
    @include close-modal-button (9px,9px,10px,10px)
  }
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
>>>>>>> Stashed changes
  .close-modal:focus .close-modal-button,
  .close-modal:hover .close-modal-button {
    fill: $actcolor
  }
  
  .form--modal {
    justify-content: center;
    align-items: center;
    position: relative;
<<<<<<< HEAD
    padding-top: 40px;
    padding-bottom: 40px;
<<<<<<< Updated upstream
=======
    &-box {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: $seccolor;
    }
=======
    @include form--modal (448px, 581px, auto, auto, 40px, 40px)
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
>>>>>>> Stashed changes
  }
  
  .form-title {
    @include  form-title (bold, 20px, calc(23 / 20), center,0.03em, 12px)
  }
 
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
  
=======
>>>>>>> Stashed changes
  .form--modal-box {
    display: flex;
    flex-direction: column;
    position: relative;
<<<<<<< Updated upstream
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $seccolor;
  }
=======
    @include form--modal-box (10px,  12px,  1.16, 0.01em, $seccolor)
  }
>>>>>>> 35d7d6cae60b3803733149224e2b792d0342a331
>>>>>>> Stashed changes
  
  .check--modal-box {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    @include check--modal-box (12px, 1.16, 0.01em, $seccolor)
  }
  
  .form--modal-box input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    @include form-modal-box-input (12px, 42px,  16px, 4px) 
  }
  
  .form--modal-box:focus {
    outline: none;
    border: 1px solid $actcolor;
  }
  
  .form-name {
    margin-top: 4px;
  }
  
  .form--modal-box .form-name {
    font-size: 14px;
    line-height: 1.71;
  }
  
  .form-input {
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    position: relative;
    transition: border 250ms $timingfunction;
    @include form-input (100%, 40px,0, 12px 20px, 42px,4px)
  }
  
  .form-input:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
  
  .form-input:focus + .form--icon {
    fill: $actcolor;
    transition: fill 250ms $timingfunction;
  }
  
  .form--icon {
    position: absolute;
    top: 50%;
    left: 15px;
  }
  
  .form--icon-check {
    fill:  $maincolorwit;
  }
  
  .form-texrarea {
    resize: none;
    font: inherit;
    border: 1px solid rgba(117, 117, 117, 0.5);
    transition: border 250ms $timingfunction;
    @include form-texrarea (12px 16px, 4px, 120px, 4px)
  }
  
  .form-texrarea:focus {
    outline: none;
    border: 1px solid $actcolor;
  }
  
  .policy-box {
    display: flex;
    align-items: center;
    @include policy-box (14px, 30px, 12px, 12px, $seccolor )
  }
  
  .policy-box-name {
    margin-left: 25px;
  }
  
  .policy-checkbox {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    z-index: 100;
    @include policy-checkbox  (1px,1px, -1px, 0px, 0px)
  }
  
  .policy-box-check {
    position: absolute;
    display: block;
    content: '';
    border: 1px solid  $maincolorblack;
    transition: background-color 250ms $timingfunction;
    @include policy-box-check  (16px, 15px, 2px, 10px, 12px, 12px)
  }
  
  .policy-checkbox:checked + .policy-box-check {
    background-color:  $actcolor;
  
    border: none;
  }
  
  .policy-box a {
    color:  $actcolor;
    text-decoration: underline;
  }
  
  .form-submit-btn {
    border: none;
    display: block;
    cursor: pointer;
    transition: box-shadow 250ms $timingfunction, background-color 250ms $timingfunction;
    @include form-submit-btn (10px 55px, 16px, calc(30 / 16),$actcolor, $maincolorwit,  0 auto,4px, 700)
  }
  
  .form-submit-btn:hover {
    background-color: $hovercolorbutton;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  