.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .button__btn {
    font-weight: 500;
    font-size: 16px;
    padding: 8px 22px;
    border-style: none;
    border-radius: 4px;
    color: $maincolorblack;
    background-color: $backgraundcolor;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .button__item:not(:first-child) {
    margin-left: 8px;
  }
  .button__btn:hover,
  .button__btn:focus {
    color: $maincolorwit;
    background-color: $actcolor;
  }