.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .btn {
    border-style: none;
    text-align: center;
    border: 1px solid transparent;
    @include btnportfolio (500, 16px, 8px 22px, 4px, $maincolorblack,  $backgraundcolor)
  }
  .button-item:not(:first-child) {
    margin-left: 8px;
  }
  .btn:hover,
  .btn:focus {
    color: $maincolorwit;
    background-color: $actcolor;
  }