.hide {
    @include hide (hidden, 0, 1px, 1px, hidden, 0,-1px)
}
    

.section-subtitle {
    text-align: center;
}
.section-text {
    @include section-text ($seccolor, "Roboto", 14px, calc(24 / 14), 10px)
}
.section-titles {
    @include section-titles ( $maincolorblack, "Roboto", bold, 14px, calc(16 / 14), uppercase)
}
.future-list {
    margin: 0 auto;
    display: flex;
}
.future-list .item + .item {
    margin-left: 30px;
}
.future-list .item {
    width: 270px;
}
.btn-item {
    display: flex;
    justify-content: center;
    @include btn-item (270px, 120px,0, 30px,  none, $backgraundcolor,  center)
  }