.section-title {
    @include section-title ($maincolorblack, "Roboto", bold, 36px, calc(42 / 36),center, 50px) 
}

.doing {
    @include doing ( $maincolorwit, center,0px,  94px)
}
.doing .item + .item {
    margin-left: 30px;
}

.doing-list {
    display: flex;
}
.testing {
    position: relative;
    text-align: center;

}
.item-doing {
  @include item-doing (absolute, 'roboto', Bold, 14px,  16px, 100%, 70px, 0, 0, center, $maincolorwit, rgba(47, 48, 58, 0.8), uppercase)
}