
    $MainColorBlack: #212121;
    $SecColor: #757575;
    $ActColor: #2196f3;
    $HoverColorButton: #188ce8;
    $PrimaryBackgraundColor: #ffffff;
    $BackcraundColor: #2f303a;
    $BackgraundSecond: #f5f4fa;
    $BackgraundColor: #f5f4fa;
    $MainColorWit: #fff;
    $Background: #e5e5e5;
    $FooterAdress: rgba(255, 255, 255, 0.6);
    $BgTeam: #f5f4fa;
    $TimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
