
    $maincolorblack: #212121;
    $seccolor: #757575;
    $actcolor: #2196f3;
    $hovercolorbutton: #188ce8;
    $primarybackgraundcolor: #ffffff;
    $backcraundcolor: #2f303a;
    $backgraundsecond: #f5f4fa;
    $backgraundcolor: #f5f4fa;
    $maincolorwit: #fff;
    $backgroundportfolio: #e5e5e5;
    $footeradress: rgba(255, 255, 255, 0.6);
    $bgteam: #f5f4fa;
    $timingfunction: cubic-bezier(0.4, 0, 0.2, 1);
